=render partial: 'usage'
=render partial: 'colors'
=render partial: 'fonts'
=render partial: 'images'
=render partial: 'buttons'
=render partial: 'forms'
=render partial: 'tables'
=render partial: 'helpers'
