+empresaula-typography

body
  background-color: #ddd

  h1
    text-align: center
    border-bottom: 2px solid $header-color

  h2
    border-bottom: 1px dashed $header-color

#wrapper
  padding: 30px
  width: 700px
  margin: 20px auto
  background-color: #fff
  +single-box-shadow(rgba(0,0,0,0.4), 0px, 0px, 6px, 0px)


pre, code
  background-color: #f1f1f1
  border: 1px solid #ddd

pre
  display: block
  margin: 10px 0px
  padding: 10px
  overflow: auto

code
  display: inline-block
  padding: 0px 3px
