h2 Images

h3 Logo white

pre
  | =image_tag 'empresaula/logo.png'
.example=image_tag 'empresaula/logo.png', class: 'white'

h3 Logo color

pre
  | =image_tag 'empresaula/logo-color.png'
.example=image_tag 'empresaula/logo-color.png'

h3 Icon
pre
  | =image_tag 'empresaula/icon.png'
.example=image_tag 'empresaula/icon.png'

h3 Icon big
pre
  | =image_tag 'empresaula/icon-big.png'
.example=image_tag 'empresaula/icon-big.png'

h3 Icon medium
pre
  | =image_tag 'empresaula/icon-medium.png'
.example=image_tag 'empresaula/icon-medium.png'

h3 Favicon
pre
  | =image_tag 'empresaula/favicon.png'
.example=image_tag 'empresaula/favicon.png'

