h2 Navigation

h3 Menu

pre
  | +menu

.example.menu= render partial: 'menu_example2'

p
  strong HTML code:

pre="#{render(partial: 'menu_example')}"
pre="#{render(partial: 'menu_example2')}"


h3 Menu Market

pre
  | +searchbar

.example.menumarket= render partial: 'searchbar'
