h2 Tables

.example=render partial: 'table_example'

p Styles apply by default, but you can also <code>@import empresaula/tables</code> and include the mixin: <code>+empresaula-table</code>

pre
  ="#{render(partial: 'table_example')}"
