h2 Usage

h3 Installation

p Put in your Gemfile:

pre
  | gem 'empresaula-assets'


h3 Stylesheets

p In your <code>screen.sass</code> file:

pre
  | @import empresaula

h3 Javascript

p In your <code>application.js</code> file:

pre
  | //= require empresaula
